body {
	margin: 0;

	background-color: #eee;

	font-family: sans-serif;
}


nav {
	box-sizing: border-box;

	padding: 20px;
	
	background-color: #111;
	color: #eee;
}

article {
	max-width: 800px;
	padding: 20px;
}

nav a {
	color: #eee;
}

nav a:hover {
	background-color: #eee;
	color: #111;
}

a:hover {
	color: #eee;
	background-color: blue;
}

code {
	padding: 2px;
	
	background-color: #111;
	color: #eee
}

pre code {
	display: block;

	padding: 20px;

	background-color: #111;
	color: #eee;
}
